<div class="places" fxLayout="row">
  <div class="left-panel" fxLayout="column">
    <div class="place-menu" fxLayout="row">
      <div>
        <a href="#" class="top-button" mat-button
           [routerLink]="['list']"
           [routerLinkActive]="['active-place']">
          PLACES
        </a>
      </div>
      <div>
        <a href="#" class="top-button" mat-button
           [routerLink]="['place']"
           [routerLinkActive]="['active-place']">
          PLACE
        </a>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-places-map id="places-map"></app-places-map>
</div>
